## Package configuration for bkgen

[Logging]
# level: logging.DEBUG=10, .INFO=20, .WARN=30, .ERROR=40, .CRITICAL=50
format: [%(asctime)s] %(name)s:%(lineno)s: %(message)s
level: 20

## Default values for Project parameters — uncomment if changing
[Projects]
#content_folder: content
#image_folder: ${content_folder}/images
#cover_folder: cover
#output_folder: outputs
#interior_folder: interior
#source_folder: sources

[EPUB]
images: {'quality': 80, 'maxwh': 2048, 'maxpixels': 4e6}

[Kindle]
