__pycache__
_bkgen/
.bkgen
.envrc
*.egg-info
*.ini
*.pyc
build
dist
docs/_build
Exemplar_EPUB.epub
pip-wheel-metadata
src
tests/Projects/Exemplar/outputs/Exemplar_EPUB
tests/Projects/Exemplar/sources/Naïve Styles
venv
