altgraph==0.15
-e git+https://github.com/BlackEarth/bf.git@62edd9ffbde3cbc244d860db1b5bd111eb473627#egg=bf
-e git+https://github.com/BlackEarth/bl.git@6369428450ffb276a5eeea095bc4e5d9e1289755#egg=bl
-e git+https://github.com/BlackEarth/bxml.git@cff7bffbaf17a093d36e038e702fda3dfcef8c65#egg=bxml
cssselect==1.0.3
cssutils==1.0.2
future==0.16.0
libsass==0.13.4
lxml==4.1.1
macholib==1.9
Markdown==2.6.11
pefile==2017.11.5
pycountry==17.9.23
PyInstaller==3.3.1
six==1.11.0
Unum==4.1.3
