/* == GLOBAL STYLES == */
 
body {
	font-size: 1.0em;
}

img {
    max-height: 99%;
    max-width: 99%;
}

p {
    margin: 0 0 0 0;
    line-height: 1.33;
    text-indent: 0em;
}

section.footnotes {
    margin-top: 2em;
    border-top: 1px solid #aaaaaa;
    padding-top: 1em;
}

table {
    border-collapse: collapse;
}
 
td {
    border: 1px solid black;
    padding: 4pt 4pt 2pt 4pt;
    vertical-align: top;
}
 
/* == GLOBAL FONT STYLES == */

.hidden { display: none; }
.bold { font-weight: bold;}
.italic { font-style: italic; }
.smcap { font-variant: small-caps; }
.allcap { text-transform: uppercase; }
.super {
    vertical-align: text-top;
    font-size: 75%;
}
.sub {
    vertical-align: text-bottom;
    font-size: 75%;
}
.usingle, .udouble, .uwords {
    text-decoration: underline;
}
.strike, .dstrike {
    text-decoration: line-through;
}
