/* == GLOBAL STYLES == */
 
body {
    font-size: 100%;
}

h1 {
    font-size: 2.0em;
    font-weight: normal;
    font-style: normal;
    line-height: 1.0em;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    page-break-before: always;
    page-break-after: avoid;
}

h2 {
    font-size: 1.25em;
    font-weight: bold;
    font-style: normal;
    line-height: 1.0em;
    margin-top: 1.0em;
    margin-bottom: 0.5em;
    page-break-before: always;
    page-break-after: avoid;
}

h3 {
    font-size: 1.0em;
    font-weight: normal;
    font-style: italic;
    line-height: 1.0em;
    margin-top: 1.0em;
    margin-bottom: 0.5em;
    page-break-before: always;
    page-break-after: avoid;
}

img {
    max-height: 99%;
    max-width: 99%;
}

li p {
    margin-bottom: 0;
}

ol, ul {
    margin: 0 0 0.5em 0;
}

ol.decimal { list-style-type: decimal; }
ol.lowerLetter { list-style-type: lower-latin; }
ol.upperLetter { list-style-type: upper-latin; }
ol.lowerRoman { list-style-type: lower-roman; }
ol.upperRoman { list-style-type: upper-roman; }
ol.none, ul.none { list-style-type: none; }
ol.bullet, ul.bullet { list-style-type: disc; }
ol.circle, ul.circle { list-style-type: circle; }
ol.square, ul.square { list-style-type: square; }

p {
    margin: 0 0 0 0;
    line-height: 1.33;
    text-indent: 0;
    margin-bottom: 0.5em;
}

p.footnote-text, p.endnote-text {
    font-size: 0.90em;
    line-height: 1.0;
    margin-bottom: 0.25em;
    margin-left: 0.5em;
    text-indent: -0.5em;
}

section.footnotes {
    margin-top: 2em;
    border-top: 1px solid #aaaaaa;
    padding-top: 1em;
}

span.endnote-reference {
    font-size: 0.7em;
    vertical-align: 0.5em;
}

span.footnote-reference {
    font-size: 0.7em;
    vertical-align: 0.5em;
}

table {
    border-collapse: collapse;
}

td {
    border: 1px solid #AAAAAA;
    padding: 4pt 4pt 2pt 4pt;
    vertical-align: top;
}
 
/* == GLOBAL FONT STYLES == */

.hidden { 
    display: none; 
}
.bold { 
    font-weight: bold;
}
.ital, .italic { 
    font-style: italic; 
}
.smcap, .smallcaps { 
    font-variant: small-caps; 
}
.allcap, .allcaps { 
    text-transform: uppercase; 
}
.sup, .super { 
    font-size: 0.7em; 
    vertical-align: 0.5em; 
}
.sub { 
    font-size: 0.7em; 
    vertical-align: bottom; 
}
.under, .usingle, .udouble, .uwords { 
    text-decoration: underline; 
}
.strike, .dstrike { 
    text-decoration: line-through; 
}
.over {
    text-decoration: overline;
}
